{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".ts", ".ios.ts", ".android.ts"],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@models": "./src/models",
          "@configuration": "./src/configuration",
          "@utils": "./src/utils",
          "@screens": "./src/screens",
          "@services": "./src/services",
        },
      },
    ],
  ]
}